*.opensdf
*.sdf
*.obj
*.log
*.tlog
*.pch
/Release/wtl_client.exe
/Release/__pycache__/packer.cpython-34.pyc
/Release/DLLs/testabi.pyd
*.ipch
/Release/ip.p
/Release/DLLs/*
/Release/loin_cache.p
/Release/updater.exe
/Release/upgrade
/Release/tmp.rar
/Release/app package/.vscode/.ropeproject/config.py
/Release/app package/.vscode/.ropeproject/objectdb
/Release/app package/.vscode/launch.json
